<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale.ljw.electronictariffmanagementsystem.backend.dao.CostMapper">

    <resultMap id="BaseResultMap" type="sale.ljw.electronictariffmanagementsystem.backend.pojo.Cost">
            <id property="costId" column="cost_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="baseDuration" column="base_duration" jdbcType="INTEGER"/>
            <result property="baseCost" column="base_cost" jdbcType="DECIMAL"/>
            <result property="unitCost" column="unit_cost" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="descr" column="descr" jdbcType="VARCHAR"/>
            <result property="creatime" column="creatime" jdbcType="DATE"/>
            <result property="startime" column="startime" jdbcType="DATE"/>
            <result property="costType" column="cost_type" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        cost_id,name,base_duration,
        base_cost,unit_cost,status,
        descr,creatime,startime,
        cost_type
    </sql>
    <select id="findAllByName" resultType="java.util.Map">
        SELECT cost_id,name,base_duration,base_cost,unit_cost,status,descr,DATE_FORMAT(creatime,'%Y年%m月%d日') createtime,DATE_FORMAT(startime,'%Y年%m月%d日') startime,cost_type,startime startimeCoding
        FROM cost
        WHERE 1=1
        <if test='name != null and name != "" '>
            AND cost.name LIKE CONCAT('%',#{name},'%')
        </if>
    </select>
</mapper>
